<div class="row">
    <div class="col-md-12 text-center welcome">
        <h1 id="welcome_title">Welcome to Burrito Bucket</h1>

        <img id="img1" src="assets/img/ifyoucandreamit.gif" style="height:150px; width:150px;">
        <img id="img2" src="assets/img/keepcalm.gif" style="height:150px; width:150px;">

        <h2>
            <p>All of your dreams, goals, achievements,</p>
            <p>& bucket list items wrapped up in 1 place</p>
        </h2>
        <h2>A place to dream, inspire, and achieve on your road to life.</h2>
    </div>
</div>

{{!--This section is for entering new dreams/goals--}}
<div class="row">
    <h3 class="text-center new_goal">Enter a new goal for yourself</h3>
    <h4 id="notice">(If no timeframe is selected, it will default to short-term)</h4>
    <div class="form-inline text-center">
        <form class="create-update-form" action="/" method="POST">
            <div class="form-group">
                <input type="text" id="bb" class="form-control" name="goal" placeholder="Dream big, Live Big...you WILL do this...Do or do not, there is no try">
            </div>
            
            <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-info">
                    <input type="radio" name="range" value="short" autocomplete="off"> Short-term
                </label>
                <label class="btn btn-warning">
                    <input type="radio" name="range" value="longer" autocomplete="off"> Long-term
                </label>
                <label class="btn btn-primary">
                    <input type="radio" name="range" value="bucket" autocomplete="off"> Bucket List
                </label>
            </div>



            <button type="submit" id="start" class="btn btn-success btn-lg"> Begin persuit! </button>
        </form>
    </div>
</div>




{{!--This section is for all goals in progress--}}
<div class="row">
    <div class="col-md-5 col-md-offset-1 text-center dream_section">
        <img id="img3" src="assets/img/loading2.gif" style="height:80px; width:80px;">
        <h3>Life, still loading & in progress..</h3>
        <h4><u>(My goals underway)</u></h4>
        <ul class="text-left" id="in_progress">
            <h4>
            
                {{!--This section is seperated for only short-term goals--}}
                <div class="timeRange">
                    <h3 class="titleOfRange">Short Term</h3>
                    {{#each burrito}}
                        {{#unless complete}} 
                            {{#if short}}
                                <form action="/{{this.id}}?_method=PUT" method="POST">
                                    <input type="hidden" name="complete" value="true">
                                    <button id="didit" type="submit">DID IT!</button>
                                    {{id}}. {{goal}}
                                </form>
                            {{/if}}
                        {{/unless}}
                    {{/each}}
                </div>

                {{!--This section is seperated for only long-term goals--}}
                <div class="timeRange">
                    <h3 class="titleOfRange" id="longer">Long Term</h3>
                    {{#each burrito}}
                        {{#unless complete}}    
                            {{#if longer}}
                                <form action="/{{this.id}}?_method=PUT" method="POST">
                                    <input type="hidden" name="complete" value="true">
                                    <button id="didit" type="submit">DID IT!</button>
                                    {{id}}. {{goal}}
                                </form>
                            {{/if}}
                        {{/unless}}
                    {{/each}}
                </div>

                {{!--This section is seperated for only bucket list items--}}
                <div class="timeRange">
                    <h3 class="titleOfRange" id="bucketList">Bucket List</h3>
                    {{#each burrito}}
                        {{#unless complete}}   
                            {{#if bucket}}
                                <form action="/{{this.id}}?_method=PUT" method="POST">
                                    <input type="hidden" name="complete" value="true">
                                    <button id="didit" type="submit">DID IT!</button>
                                    {{id}}. {{goal}}
                                </form>
                            {{/if}}
                        {{/unless}}
                    {{/each}}   
                </div>  
            </h4>    
        </ul>
    </div>

    {{!--This section is where the user has clicked a goal and accomplished it--}}
    <div class="col-md-5 text-center new_dreams">
        <img id="img4" src="assets/img/fireworks.gif" style="height:70px; width:400px;">
        <h3>Look at what you've accomplished!</h3>
        <h4><u>(Yeah! Way to go!)</u></h4>
        <ul class="text-left" id="in_progress">
          
            {{#each burrito}}
            {{#if complete}}
            <h4>
                <form action="/{{this.id}}?_method=DELETE" method="POST">
                    Goal: {{goal}} 
                    <input type="hidden" name="delete" value="true">
                    <p>You completed this {{timeittook}}</p>
                    <p>Completed on {{createdAt}}
                        <button id="deleteit" type="submit">~~Delete~~</button>
                    </p>
                    <p>~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</p>
                </form>
            </h4>
                
            {{/if}}
            {{/each}}
        </ul>
    </div>
</div>
<h1 class="text-center" id="youcandoit">YES, YOU CAN DO IT!</h1>